body {
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 8rem;
    background-color: #120518;

    nav {
        width: 100%;
        border-bottom: 1px solid lightgray;
        padding: 6px;

        img {
            max-width: 4rem;
            max-height: 4rem;
        }

        a {
            display: inline-block;
            // outline: 1px solid gray;
            // border-bottom: 2px solid gray;

            &:hover {
                // border-color: white;
                filter: brightness(2.5);
            }
        }
    }

    h1, h2, h3, h4 {
        border-bottom: 1px solid lightgray;
    }

    h1 {
        margin-bottom: 3rem;
    }

    hr {
        border: none;
        background-color: lightgray;
        margin: 24px 0;
        height: 0.25em;
    }

    #content {
        max-width: 40rem;
        margin: 0 auto;
        line-height: 1.8;
        color: white;
    }

    a {
        color: lightblue;

        &:visited {
            color: cornflowerblue;
        }
    }
}
