body {
    font-family: sans-serif;
    margin-bottom: 8rem;
    // background-color: black;
    background-color: #120518;

    h1, h2, h3, h4 {
        border-bottom: 1px solid lightgray;
    }

    h1 {
        margin-bottom: 3rem;
    }

    hr {
        border: none;
        background-color: lightgray;
        margin: 24px 0;
        height: 0.25em;
    }

    #content {
        max-width: 40rem;
        margin: 0 auto;
        line-height: 1.8;
        color: white;
    }

    a {
        color: lightblue;

        &:visited {
            color: cornflowerblue;
        }
    }
}
