@font-face {
    font-family: 'merriweather';
    // src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('Merriweather-Regular.ttf')  format('truetype')
}

$displayFont: Didot, Bodoni, serif;
$violetGray: #95889a;

@keyframes lift {
    to {
        /* transform: translateY(-30vh); */
        transform: translate(-50%, -36%);
        /* transform: translate(-50%, -220px); */
    }
}

@keyframes EvilColor {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}

body {
    height: 200vh;
    text-align: center;
    margin: 0;
    background-color: black;

    > div {
        position: fixed;
    }

      .ghost-ghost {
        position: fixed;
        animation: lift 1s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        /* some “overshoot” weirdness */
        animation-iteration-count: 1;
        animation-fill-mode: both;
        bottom: -15vh;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 20rem;

        img {
            position: relative;
            left: 1rem;
        }
      }

    .ghost-box {
        bottom: 0vh;
        width: 100%;
        max-width: 20rem;
        left: 50%;
        transform: translateX(-50%);

        img {
            // this is just to block out the ghost outline in the desktop view
            border-bottom: 70px solid black;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

h1 {
    z-index: 1;
    font-size: 2rem;
    // font-size: 8vw;
    color: #ddcbe4;
    transition: all 2s;
    // font-family: $displayFont;
    font-family: 'merriweather', serif;
    // color: $violetGray;
    position: fixed;
    width: 100%;
    margin-top: 4vh;
    // text-transform: uppercase;
    letter-spacing: 0.2rem;

    background: linear-gradient(166deg , #ffc89e, #05d0e2);
    // background: linear-gradient(304deg, #f8f292, #07bed8, rgb(253, 87, 144), #ffa849, #f8f292);
    background-size: 600%;
    -webkit-text-fill-color: transparent;
    // text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    animation: EvilColor 10s ease infinite;

    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
}

.links {
    bottom: 6rem;
    font-size: 2.6rem;
    position: fixed;
    opacity: 1;
    transition: all 2s;
    list-style: none;
    left: 50%;
    transform: translateX(-70%);
    padding: 0;

    &.hidden {
        visibility: hidden;
        opacity: 0;
    }

    li {
        position: relative;

        a {
            transition: color 0.4s;
            font-family: $displayFont;
            color: $violetGray;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }
}
